<div class="card bg-base-100 shadow-xl max-w-md w-full">
  <div class="card-body">
    <h2 class="card-title"><%= habit.name %></h2>
    <p>Habit description</p>
    <div class="card-actions justify-between items-center">
      <div class="flex gap-2">
        <% if action_name == :index %>
          <%= link_to'Show', habit, class: "link link-primary" %>
        <% end %>
        <%= link_to "Edit", edit_habit_path(habit), class: "link link-primary" %>
      </div>
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
